<!DOCTYPE html>
<html lang="en" ng-app='app'>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hotel Urbano Development</title>

		<%= stylesheet_link_tag "bootstrap" %>
		<%= stylesheet_link_tag "hotel_urbano" %>
		<%= stylesheet_link_tag "jquery-ui" %>
		<%= stylesheet_link_tag "theme" %>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>

		<%= javascript_include_tag "angular" %>
		<%= csrf_meta_tags %>

	</head>
	<body ng-controller='homeCtrl'>
		<header>
			<nav class="navbar navbar-inverse navbar-fixed-top">
			  <div class="container">
			  	<div class="navbar-header">
			      <a class="navbar-brand" href="/"> www.hotelurbano.com/hoteis </a>
			    </div>
			    <form name='query' class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control search" required="Prenche o campo vai :D" name="searchTerm" autocomplete autofocus data-ng-model='searchTerm' placeholder="cidade ou hotel"/>
						<input type="text" class="form-control date"  datepicker ng-model='checkIn' placeholder="entrada"/>
						<input type="text" class="form-control date" datepicker ng-model='checkOut' min-date="{{checkIn}}" placeholder="saída">
						<button class="btn btn-default"  value="buscar \o/" ng-click='findOnPeriod()'>buscar \o/</button>
					</div>
				</form>	
			  </div>
			</nav>
		</header>


		<div class="container">
			<div class='period' ng-show="showPeriod">
				Período de <span ng-cloak>{{checkIn}}</span> a <span ng-cloak>{{checkOut}}</span>
			</div>
			<div class="wrap" ng-repeat="hotel in hotels">
				<div class="img"><img ng-cloak src="{{hotel.image_path}}" alt=""></div>
			    <div class="text" ng-cloak>
			        <p><h2>{{hotel.name}}</h2> - <span>{{hotel.location}}</span></p>
			        <p >{{hotel.description}}</p>
			    </div>
			</div>


			<div class="wrap-error" ng-show="showMessage" ng-cloak>
				<div class="img"><img src="/hotel/not_found.png" alt=""></div>
			    <div class="text">
			        <p><h2 ng-cloak>{{message}}</h2></p>
			    </div>
			    
			</div>
		</div>
		<%= javascript_include_tag "directives" %>
		<%= javascript_include_tag "home.js" %>
	</body>
</html>